<form class="cd" action="success" method="post">
  <div class="form-group">
    <label for="cd"> CD title</label>
    <input type="text" name="cd">
  </div>
  <div class="form-group">
    <label for="artist"> Artist name</label>
    <input type="text" name="artist">
  </div>


<button type="submit" name="button">Click here</button>
</form>
<a href ='/'>go back home</a>
